dator1,12,malin,linus
dator2,14,malin,linus
dator3,4,malin,linus
dator4,5,malin,linus
dator5,6,malin,linus
dator6,6,malin,linus
dator7,14,malin,linus
dator8,42,malin,linus
dator9,12412313311,isak,malin,linus
dator10,1,malin,linus
dator11,74199,malin,linus
dator12,41,malin,linus
dator13,331,malin,linus
dator14,44,malin,linus
dator15,456,malin,linus
dator16,123,malin
dator17,54,